<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>Hello World</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navitem" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="navitem">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#">活动中心</a>
            </li>
            <li>
              <a href="#">资源平台</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">你好 曾兆阳</p>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="帮助">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="添加">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="用户">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="设置">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="注销">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              </a>
            </li>
            
          </ul>

          <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="/static/img/mstczhaoxin.jpg" width="100%">
            <div class="col-md-8 col-md-offset-2" style="font-size:20px;">
              <center><h2>百团大战</h2></center>
              <p>来来来瞧一瞧看一看啦，各大社团招新啦，十大类社团等你来，走过路过不要错过，详情请咨询88888888
              学费只要888，不是88888888，更不是8888888888888，挖掘机技术哪家强，中国山东找蓝翔</p>
              <p><strong>主办方： </strong>中山大学</p>
              <p><strong>活动时间： </strong>2015年7月1日8:00 ~ 2015年7月1日18:00</p>
              <p><strong>报名时间： </strong>2015年7月1日8:00 ~ 2015年7月1日18:00</p>
            </div>
            <div class="col-md-4 col-md-offset-2" style="font-size:20px;">
              <p><strong>单位形式： </strong>个人</p>
              <p><strong>人数上限： </strong>100</p>
              <p><strong>筛选方式： </strong>先到先得</p>
              <p><strong>联系人： </strong>杨照增</p>
              <p><strong>联系电话： </strong>612971</p>
            </div>
            <div class="col-md-2 col-md-offset-1" style="font-size:20px;">
              <p><strong>扫我报名</strong></p>
              <img src="/static/img/5.png" width="100%">
            </div>

            <button class="col-md-4 col-md-offset-4 btn btn-success btn-lg">
              立即报名
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <hr>
      <span class="text-center help-block">
        &copy X All rights reserved
      </span>
    </footer>
  </body>
  

</html>
