<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>Hello World</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <style type="text/css">
      /*.hover{
        border-width: 5px;
        border-color: #0000FF;
        border-style: solid;
        cursor: pointer;
      }*/
      .icon{
        height: 90px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        // $(".icon").mouseover(function(){
        //   $(this).addClass("hover");
        // });
        // $(".icon").mouseout(function(){
        //   $(this).removeClass("hover");
        // });
        $.getJSON("/api/files/catalog/{{path}}", function(data,status){
          if(data.rescode=="00000"){
            var filelist=data.filelist;
            var folderlist=data.folderlist;
            var addhtml='<div class="col-md-1 icon %s" href="%s">\
        <img src="/static/img/folder.png" width="100%%" style="padding-top:10px;">\
        <center><p>%s</p></center>\
      </div>'
            for(var i=0;i<folderlist.length;i++){
              $("#folderlist").append(sprintf(addhtml,"folder",folderlist[i],folderlist[i]))
            }
            for(var i=0;i<filelist.length;i++){
              $("#filelist").append(sprintf(addhtml,"file",filelist[i],filelist[i]))
            }
          }
        });
        $(document).on("click",".folder",function(){
          alert("/api/files/catalog/{{path}}/"+$(this).attr("href"));
          //window.location.href="/api/files/catalog/{{path}}/"+$(this).attr("href");
        });
        $(document).on("click",".file",function(){

        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navitem" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="navitem">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">首页</a>
            </li>
            <li>
              <a href="#">活动中心</a>
            </li>
            <li>
              <a href="#">资源平台</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">你好 曾兆阳</p>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="帮助">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="添加">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="用户">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="设置">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="注销">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              </a>
            </li>
            
          </ul>

          <form class="navbar-form navbar-right" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
      <div class="col-md-12" id="folderlist">
      </div>
      <hr>
      <div class="col-md-12" id="filelist">
      </div>
<!--       <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div>
      <div class="col-md-1 icon">
        <img src="/static/img/folder.png" width="100%" style="padding-top:10px;">
        <center><p>大一上</p></center>
      </div> -->
    </div>

    <footer>
      <hr>
      <span class="text-center help-block">
        &copy X All rights reserved
      </span>
    </footer>
  </body>
  

</html>
